[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
numpy = "*"
bs4 = "*"
scikit-learn = "*"
python-dotenv = "*"
fredapi = "*"
alpaca-py = "*"
yfinance = "*"
psycopg2 = "*"
jjflow-utils = {file = ".", editable = true}

[dev-packages]
jupyter = "*"
pytest = "*"
seaborn = "*"
matplotlib = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
