[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
numpy = "*"
bs4 = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
python-dotenv = "*"
fredapi = "*"
alpaca-py = "*"
yfinance = "*"
psycopg2 = "*"
pyyaml = "*"

[dev-packages]
jupyter = "*"
pytest = "*"

[requires]
python_version = "3.12"
